VPNFirewall/.vs/VPNFirewall/FileContentIndex/1509ca5a-527c-4283-b9da-a3833b8375cb.vsidx
VPNFirewall/.vs/VPNFirewall/FileContentIndex/4343346a-529c-4c93-a343-0a1998c1268a.vsidx
VPNFirewall/.vs/VPNFirewall/FileContentIndex/701e3673-94ed-4845-a5c4-6bca0ac28628.vsidx
VPNFirewall/.vs/VPNFirewall/FileContentIndex/b0e50400-ed74-41c7-987f-b249173baefc.vsidx
VPNFirewall/.vs/VPNFirewall/FileContentIndex/f3fb3e18-e316-46a3-9903-7845165729db.vsidx
VPNFirewall/.vs/VPNFirewall/v17/.suo
VPNFirewall/.vs/VPNFirewall/v17/Browse.VC.db
VPNFirewall/.vs/VPNFirewall/v17/DocumentLayout.backup.json
VPNFirewall/.vs/VPNFirewall/v17/DocumentLayout.json
VPNFirewall/.vs/VPNFirewall/v17/Solution.VC.db
VPNFirewall/.vs/VPNFirewall/v17/ipch/AutoPCH/5f60e5b8f5621089/PROVIDER.ipch
VPNFirewall/.vs/VPNFirewall/v17/ipch/AutoPCH/5f8b973336e56bcd/VPNFIREWALL.ipch
VPNFirewall/.vs/VPNFirewall/v17/ipch/AutoPCH/6e3ae3f97bdf9f08/PROVIDER.ipch
VPNFirewall/.vs/VPNFirewall/v17/ipch/AutoPCH/c9f6505ac8f7dd01/FIREWALL.ipch
VPNFirewall/VPNFirewall/x64/Debug/Provider.obj
VPNFirewall/VPNFirewall/x64/Debug/vc143.idb
VPNFirewall/VPNFirewall/x64/Debug/vc143.pdb
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.exe.recipe
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.ilk
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.log
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.obj
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.res
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/CL.command.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/Cl.items.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/CL.read.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/CL.write.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/link.command.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/link.read.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/link.secondary.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/link.write.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/rc.command.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/rc.read.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/rc.write.1.tlog
VPNFirewall/VPNFirewall/x64/Debug/VPNFirewall.tlog/VPNFirewall.lastbuildstate
VPNFirewall/x64/Debug/VPNFirewall.exe
VPNFirewall/x64/Debug/VPNFirewall.pdb
