extends layout

block content
  h1= title
  table
    thead
      tr
        th Ticker
        th Yeild
    tbody
      each aristocrat in aristocrats
        tr
          td= aristocrat.ticker
          td= aristocrat.yeild
