extends layout

block content
  h3 Dividend Aristocrats
  table
    thead
      tr
        th Ticker
        th Name
        th Yield
    tbody
      each aristocrat in aristocrats
        tr
          td
            a(href= aristocrat.homepage_url)= aristocrat.ticker
          td= aristocrat.name
          td= aristocrat.yield
