extends layout

block content
  h3 Dividend Aristocrats
  table
    thead
      tr
        th Ticker
        th Yield
    tbody
      each aristocrat in aristocrats
        tr
          td= aristocrat.ticker
          td= aristocrat.yield
